body {
    --blue: #cbe4ee;
    --size: 120vw;

    color: black;
    background-color: var(--blue);
    font-family: Inter, sans-serif;
    font-weight: bolder;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    overflow: hidden;
    justify-content: center;
}

.wave {
    opacity: .8;
    position: absolute;
    bottom: 8vh;
    left: -8vw;
    background: #fff9f0;
    width: var(--size);
    z-index: 2;
    height: var(--size);
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 8000ms infinite linear;
}

@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}

.wind-particle{
    position: absolute;
    right: -20px;
    width: 29px;
    height: 3px;
    border-radius: 0 20px;
    background-color: #a1a1a1;
    transform: rotate(0deg);
    opacity: 0.7;
}

#wind-layer{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 10;
}


@keyframes falling {
    0% {
        transform: translate3d(0,0,0) rotate(0deg);
    }

    100% {
        transform: translate3d(-103vw,0vh,0) rotate(15deg);

    }
}

@keyframes backflip {
    0% {
        transform: translate3d(0,0,0) rotate(0deg);
    }

    40% {
        transform: translate3d(0,-8rem,0) rotate(-180deg);

    }

    80% {
        transform: translate3d(0,0vh,0) rotate(-360deg);

    }

    100% {
        transform: translate3d(0,0vh,0) rotate(-360deg);

    }
}

.center-menu{
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    gap: 1rem;
    box-sizing: border-box;
    background: var(--blue);
    padding: 0.6rem;
    border-radius: 4rem;
    z-index: 10;
}


.center-menu .action:hover{
    border-radius: 2rem;
    background: var(--blue);
    transition: background-color 200ms;
}
.center-menu .action:hover{
    background: white;
}

.action{
    padding: 0.6rem 1.6rem;
    cursor: pointer;
}

.center {
    height: 100svh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    margin-top: calc(50svh - 7.5rem);
    z-index: 11;
    pointer-events: none;
}

.center span{
    text-decoration: underline wavy;
    text-decoration-color: deeppink;
    text-underline-offset: 0.9rem;
 }

#texture{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    z-index: 1;
    background-image: url('./paper.avif');
    background-size: 100% 100%;
    background-repeat: repeat;
    opacity: 0.7;
    pointer-events: none;
}

.left-fixed {
    position: fixed;
    right: 0;
    margin: 2rem 3rem;
    z-index: 10;
    color: grey;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

.right-fixed {
    position: fixed;
    left: 0;
    margin: 2rem 3rem;
    z-index: 10;
}

.right-fixed h1{
    margin: 0;
}

h2{
    font-size: 5rem;
    margin: 0;
    text-align: center;
}

#anchor-one{
    top: 29vw;
    left: 0vw;
    transform: rotate(112deg);
}

.blob{
    position: relative;
    z-index: 2;
    --scale : 1;
    top: calc(var(--top) * var(--scale));
    height: calc(var(--bsize) * var(--scale));
}

.board{
    --scale : 1;
    height: calc(var(--bsize) * var(--scale));
}

#anchor-two{
    top: 21vw;
    right: -112vw;
    transform: rotate(240deg);
}

@media(max-aspect-ratio: 11/9) {
    .left-fixed {
        bottom: 0;
        width: 100vw;
        text-align: center;
        margin: 2rem 0;
    }

}

@media(orientation: portrait) {
    .action{
        padding: 0.4rem 1.1rem;
        font-size: 0.8rem;
    }

    .left-fixed{
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    .wave{
        animation: drift 6000ms infinite linear;
    }

    h2 {
        font-size: 1.9rem;
    }

    .center span{
        text-underline-offset: 0.4rem;
    }

    body{
        --size: 120svh;
    }

    .wave {
        bottom: 22vh;
        left: -36vw;
    }

    #anchor-one{
        top: 29vh;
        left: 0;
    }

    #anchor-two{
        top: 21vh;
        right: -112vh;
    }

    .blob,.board{
        --scale: 0.5;
    }
}

.wave-anchor{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
